@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);

body {
	font-family: 'Arvo', serif;
	text-align: center;
	font-size: 120%;
	background-color: rgb(95%, 95%, 95%);
}

h1 {
	font-size: 300%;
	color: white;
	text-shadow: 0px 1px 0px #999,
				 0px 2px 0px #888,
				 0px 3px 0px #777, 
				 0px 4px 0px #666, 
				 0px 5px 0px #555, 
				 0px 6px 0px #444, 
				 0px 7px 0px #333, 
				 0px 8px 7px #001135;
	margin-bottom: 15px;

}

.container {
	width: 890px;
	margin-left: auto;
	margin-right: auto;
}

.player-number {
	display: inline-block;
	border: 1px solid rgba(100%, 100%, 100%, 0);
	border-radius: 10px;
	padding: 4px 10px;
	background-color: rgba(100%, 100%, 100%, 0);
}

.player-number:hover {
	border: 1px solid rgba(70%, 70%, 70%, 1);
}

.player-number.active {
	border: 1px solid rgba(50%, 50%, 50%, 0.7);
	background-color: rgba(85%, 85%, 85%, 1);
	   -moz-box-shadow: inset 1px 1px 5px #888;
	-webkit-box-shadow: inset 1px 1px 5px #888;
			box-shadow: inset 1px 1px 5px #888;
}

.input-field {
	border: 2px solid rgb(70%, 70%, 70%);
	background-color: white;
	border-radius: 4px;
	font-size: 100%;
}

.input-field:focus {
	outline: none;
	border: 2px solid rgb(50%, 50%, 50%)
}

input[type="number"] {
	width: 2em;
}

.player-name-field {
	position: relative;
	overflow: auto;
	width: 35%;
	display: inline-block;
}

.game {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border: 1px solid black;
	border-radius: 5px;
	padding-top: 3px;
	margin-bottom: 10px;
	background: -moz-linear-gradient(top, #ffc578 0%, #fb9d23 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc578), color-stop(100%,#fb9d23)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffc578 0%,#fb9d23 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffc578 0%,#fb9d23 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffc578 0%,#fb9d23 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffc578 0%,#fb9d23 100%); /* W3C */
}

/* Not sure yet how to use :after best.
.player-name-field:focus.player-name-field:after {
	content: "Player";
	border: 1px solid black;
	border-radius: 5px;
}
*/ 
.add-button {
	margin: 20px 10px;
	background-color: rgb(80%, 80%, 80%);
	display: inline-block;
	padding: 5px 10px;
	color: rgb(70%, 70%, 70%);
	text-shadow: 0px 1px 1px rgba(100%, 100%, 100%, 0.6);
	border: 1px solid rgb(70%, 70%, 70%);
	border-radius: 5px;
}

.add-button:hover {
	cursor: pointer;
	color: white;
	text-shadow: 0 1px 0 #ccc, 
				0 2px 0 #c9c9c9,
				0 3px 0 #bbb,
				0 4px 0 #b9b9b9,
				0 5px 0 #aaa,
				0 6px 1px rgba(0,0,0,.1),
				0 0 5px rgba(0,0,0,.1),
				0 1px 3px rgba(0,0,0,.3),
				0 3px 5px rgba(0,0,0,.2),
				0 5px 10px rgba(0,0,0,.25),
				0 10px 10px rgba(0,0,0,.2),
				0 20px 20px rgba(0,0,0,.15);

	box-shadow: 0 1px 0 #ccc, 
				0 2px 0 #c9c9c9,
				0 3px 0 #bbb,
				0 4px 0 #b9b9b9,
				0 5px 0 #aaa,
				0 6px 1px rgba(0,0,0,.1),
				0 0 5px rgba(0,0,0,.1),
				0 1px 3px rgba(0,0,0,.3),
				0 3px 5px rgba(0,0,0,.2),
				0 5px 10px rgba(0,0,0,.25),
				0 10px 10px rgba(0,0,0,.2),
				0 20px 20px rgba(0,0,0,.15);
}
/*
	text-shadow: 0px 1px 0px rgba(90%, 90%, 90%, 0.8), 0px 2px 0px rgba(80%, 80%, 80%, 0.8), 0px 3px 0px rgba(70%, 70%, 70%, 0.8);
*/

#scoretable {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: left;
	background-color: rgb(99%, 99%, 99%);
	border: 1px solid rgb(80%, 80%, 80%);
	border-radius: 5px;
	padding: 5px;

}

#storage-wipe {
	position: fixed;
	bottom: 0px;
	right: 0px;
	font-size: 0.8em;
}