@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);

body {
	font-family: 'Arvo', serif;
	text-align: center;
	font-size: 120%;
	color: #333333;
	background-color: rgb(95%, 95%, 95%);
}

h1 {
	font-size: 3em;
	line-height: 1.3;
	margin-bottom: 15px;
}

a:link {color:#fff; text-decoration: none;}      /* unvisited link */
a:visited {color: rgb(240, 240, 240); text-decoration: none;}  /* visited link */
a:hover {color: rgb(220, 220, 220); text-decoration: underline;}  /* mouse over link */
a:active {color: rgb(200, 200, 200); text-decoration: underline;}  /* selected link */

.intro-text {
	font-size: 1.3em;
}

.landing-page.container {
	width: 500;
}

.landing-page h1 {
	margin-bottom: 1em;
	font-size: 5em;
} 


.player-number {
	display: inline-block;
	border: 1px solid rgba(100%, 100%, 100%, 0);
	border-radius: 10px;
	padding: 4px 10px;
	background-color: rgba(100%, 100%, 100%, 0);
}

.player-number:hover {
	border: 1px solid rgba(70%, 70%, 70%, 1);
}

.player-number.active {
	border: 1px solid rgba(50%, 50%, 50%, 0.7);
	background-color: rgba(85%, 85%, 85%, 1);
	   -moz-box-shadow: inset 1px 1px 5px #888;
	-webkit-box-shadow: inset 1px 1px 5px #888;
			box-shadow: inset 1px 1px 5px #888;
}

.input-field {
	border: 2px solid rgb(70%, 70%, 70%);
	background-color: white;
	border-radius: 4px;
	font-size: 100%;
}

.input-field:focus {
	outline: none;
	border: 2px solid rgb(50%, 50%, 50%)
}

input[type="number"] {
	width: 3em;
}

label[for="tournament_name"],
label[for="tournament_email"] {
	font-size: 2.5em;
}

input[id="tournament_email"],
input[id="tournament_name"] {
	font-size: 2em;
}

.player-name-field {
	position: relative;
	overflow: auto;
	width: 35%;
	display: inline-block;
}

/* Not sure yet how to use :after best.
.player-name-field:focus.player-name-field:after {
	content: "Player";
	border: 1px solid black;
	border-radius: 5px;
}
*/ 
.add-button {
	color: white;
	background-color: rgb(46, 204, 113);
	display: inline-block;
	color: white;
	font-size: 2.3em;
	padding: 0.5em 1.5em;
	margin-bottom: 2em;
	border: 1px solid rgb(70%, 70%, 70%);
	border-radius: 5px;
}

.add-button:hover {
	background-color: rgb(39, 174, 96);
}

.add-button:active {
	background-color: rgb(26, 188, 156);
}

/*
	text-shadow: 0px 1px 0px rgba(90%, 90%, 90%, 0.8), 0px 2px 0px rgba(80%, 80%, 80%, 0.8), 0px 3px 0px rgba(70%, 70%, 70%, 0.8);
*/

.scoretable {
	text-align: left;
}

.panel.game {
	font-size: 2em;
}

.panel {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	background-color: rgb(99%, 99%, 99%);
	border: 1px solid rgb(80%, 80%, 80%);
	border-radius: 5px;
	padding: 5px;
}

.game {
	position: relative;
	padding-top: 2em;
	margin-bottom: 10px;
}

#tmain {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.tpanel {
	display: inline-block;
	float: left;
	font-size: 3em;
	padding: 1em;
	margin: 5px;
}

#storage-wipe {
	position: fixed;
	bottom: 0px;
	right: 0px;
	font-size: 0.8em;
}